body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* All CSS below pertains to the textarea forms*/
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Set standard and placeholder styles for PAST events */
.past {
  background-color: #d3d3d3;
  color: white;
}

.past textarea::placeholder {
  color:#a8a8a8
}

/* Set standard and placeholder styles for PRESENT events */
.present {
  background-color: #ff6961;
  color: white;
}

.present textarea::placeholder {
  color:#9e5151
}

/* Set standard and placeholder styles for FUTURE events */
.future {
  background-color: #77dd77;
  color: white;
}

.future textarea::placeholder {
  color:#53a14a
}

/* Remaining CSS pertains to save button styles */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
